<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- add css -->
    <link rel="stylesheet" href="/css/bootstrap.css" >
  </head>
  <body>
    <div
    <!-- Everything is painted serverside-->
    {{body}}
  </body>
</html>
